<head>
    <link rel="stylesheet" href="{{ "/assets/items.css" | relative_url }}">
</head>

<div id="item-list" class="dejavu_sansextralight">

    {%- for post in include.loc -%} 
        {% assign odd = forloop.index | modulo: 2%}
        <div>

            <div class="item">
                <a href="{{ post.url | relative_url }}">
                    <div class="img-wrapper">
                        <img class="item-pic" src="{{ post.preview | relative_url }}"></img>
                    </div>

                    {% if odd == 1 %}
                        <div class="item-name text-dark shadow-dark">
                    {% else %}
                        <div class="item-name text-dark shadow-dark-left">
                    {% endif %}

                        <span class="item-title {{ post.titleclass }}">{{ post.title }}</span>
                    </div>

                </a>

                {% if odd == 1%}
                <div class="popout-right item-popout"> 
                {% else %}
                <div class="popout-left item-popout">
                {% endif %}
                    {%- include reelpopup.html odd=odd page=post -%}
                </div>

            </div>
        </div>
    {%- endfor -%}
</div>