hr {
	margin: 15px 0px -15px ;
	width: 60%;
	border: 1px solid #D6E8DB;
}
td a {
	margin-left: 5px;
}
#info-container {
	height: 100%;
	max-width: 100%;
	margin: 40px 5% 5% 5%;
}
#info-pics {
	float: left;
	width: 250px;
	height: auto;
	max-width: 30%;
	padding-right: 10%;
	padding-bottom: 2.5%
}
#info-pics img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	aspect-ratio: 1/1;
	margin-bottom: 12.5%;
}
#info-text {
	line-height: 130%;
	text-align: justify;
	text-wrap: balance;
}
#info-links {
	margin-bottom: 25px;
	font-weight: 200;
	font-size: 20px;
}
#info-links table {
	margin-left: 12px;
}
#info-links-wide {
	max-width: 60%;
	margin-left: 40%;
}
#info-links-small {
	display: none;
}

@media (max-width: 550px) {
	#info-links-wide { display: none; }
}
@media (max-width: 550px) {
	#info-links-compact { display: inherit; }
}