hr {
	margin: 15px 0px -15px ;
	width: 60%;
	border: 1px solid #D6E8DB;
}
td a {
	margin-left: 5px;
}
#content {
	height: 930px;
}
#bio-img {
	float: left;
}
#bio-img img {
	display: block;
	width: 250px;
	margin-bottom: 30px	
}
#bio-text {
	float: right;
	width: 60%;
	line-height: 170%;   
	text-align: justify;
}
#bio-links {
	font-weight: bold;
	font-size: 18px;
}
#bio-links table {
	margin-left: 12px;
}