#content {
	height: 370px;
}
#page-name:hover {
	color: #FFF8DE;
}
#page-name:hover ~ #navarrow {
	color: #D6E8DB;
	opacity: 100%;
}
#navarrow {
	size: 3px
}
#game-info {
	margin: 40px 100px;
	height: 200px;
	font-size: 30px;
	font-weight: normal;
}
#game-info table {
	position: absolute;
	margin-left: 340px;
	margin-top: -205px;
}
#game-info img {
	height: 200px;
	width: 300px;
}
#game-info a:hover {
	color: #D6E8DB;
}
#game-pic-wrapper a:hover {
	background-color: #D6E8DB;
}
#role {
	margin-left: 340px;
	margin-top: -40px;
	font-weight: bold;
}
.info-item {
	padding: 10px;
}
#game-desc {
	margin: 0px 100px;
}