#item-content {
	height: 100%;
	width: 100%;
	position: inherit;
}
#item-info {
	font-size: 30px;
	font-weight: normal;
}
#item-info table {
	width: 90%;
	margin: 0 5%;
}
#item-info a:hover {
	color: #D6E8DB;
}
#role-left {
	position: absolute;
	width:fit-content;
	height: fit-content;
	margin: 5%;
	padding: 1%;
	font-weight: 900;
	left: 0;
}
#role-right {
	position: absolute;
	width:fit-content;
	height: fit-content;
	margin: 5%;
	padding: 1%;
	font-weight: 900;
	right: 0;
}
.info-item {
	padding: 10px;
}
.info-item a {
	text-decoration: underline 2px;
}
#item-desc {
	margin: 0px 100px;
}