#container {
	height:100%;
}
#shutter {
	height: 100%;
}
#logo {
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
}
#splashlinks {
	position: absolute;
	top: 280px;
	left: 0;
	right: 0;
}
#splashlinks a {
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
}
#splashlinks a:hover {
	color: #D6E8DB;
}
#navlinks {
	top: 350px;
}