@font-face {
    font-family: 'dejavu_sansextralight';
    src: url("dejavusans/DejaVuSans-ExtraLight-webfont.woff") format('woff'),
         url("dejavusans/DejaVuSans-ExtraLight-webfont.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'dejavu_sansextralight', sans-serif;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -font-smoothing: antialiased;
}
a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}
body {
	font-family: 'dejavu_sansextralight', sans-serif;
	font-weight: normal;
	font-size: 18px;
}
a {
	text-decoration: none;
	color: inherit;
}
nav ul li {
	font-size: 25px;
	display: inline;
	margin-right: 10px;
	margin-left: 10px;
	font-weight: 200;
}
nav a {
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
	border-bottom: 0px solid #99A98F;
}
nav a:hover {
	border-bottom: 5px solid #D6E8DB;
	color: #D6E8DB;
}
/* nav a .underline {

} */
.dejavu_sansextralight {
	font-family: 'dejavu_sansextralight', 'dejavu_sansextralight-webfont';
}
.active {
	border-bottom: 5px solid #D6E8DB;
}
.text-light {
	color: #FFF8DE;
}
.text-dark {
	color: #99A98F;
}
.text-medium {
	color: #D6E8DB;
}
.bg-dark {
	background-color: #99A98F;
}
.bg-black {
	background-color: black;
}
.bg-light {
	background-color: #FFF8DE;
}
.bg-medium {
	background-color: #D6E8DB;
}
.rounded {
	border-radius: 10px;
}
.font40px {
	font-size: 40px;
}
.shadow-dark {
	box-shadow: 5px 6px #99A98F;
}
.shadow-dark-left {
	box-shadow: -5px 6px #99A98F;
}
.shadow-light {
	box-shadow: 5px 5px #FFF8DE;
}
.separator-left {
	border-left: 2px solid #D6E8DB;
}
.separator-right {
	border-right: 2px solid #D6E8DB;
}
.contains-links a {
	text-decoration: underline;
}
.contains-links a:hover {
	color: #D6E8DB;
}
.img-wrapper {
	overflow: hidden;
}
.content {
	margin:40px;
}
.item {
	height: 250px;
	width: 300px;
	margin-bottom: 20px;
}
.item-pic {
    height: 200px;
}
.item-name {
    height:50px;
}
.item-title {
    margin: 10px 20px;
    line-height: 50px;
}
#container {
	position: absolute;
	width: 100%;
	height: auto;
}
#shutter {
    position: relative;
    width: 100%;
    text-align: center;
    height: 120px;
}
#logo {
    margin-right: 80px;
}
#logo img {
    position: absolute;
    top: 10px;
    height:100px;
}
#munjitext {
    position: absolute;
    top: 68px;
    left: 0;
    right: 0;
    width: auto;
    font-size: 50px;
    font-weight: normal;

}
#navlinks {
    position: relative;
    top: 125px;
    left: 0;
    right: 0;
}
#externallinks {
    position:absolute;
    top: 140px;
    left: 0;
    right: 0;
}
#externallinks a {
    font-size: 50px;
}
#externallinks a:hover {
    border: none;
}
#content {
    position: relative;
    margin: auto;
    margin-top: 50px;
    height: auto;
    padding-bottom: 20px;
    width: 900px;
    max-width: 100%;
}
#page-name {
    position: relative;
    width: auto;
    top: -2px;
    margin-left: 5%;
    padding: 0px 10px 4px;
    font-size: clamp(24px, 5vw, 40px);
}
#link-panel {
    position: absolute;
    width: auto;
    top: -7px;
    right: 5%;
    padding: 6px 10px;
    font-size: clamp(24px, 5vw, 40px);
}
#link-panel a {
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}
#link-panel a:hover {
    color: #FFF8DE;
}
#footer {
	position: relative;
	width: 100%;
}