---
layout: page
---
<head>
    <link rel="stylesheet" href="{{ "/assets/about.css" | relative_url }}">
</head>

<div id ="info-container" class="content text-dark contains-links">
    <div id="info-links-small">
        {%- include links/info.html -%}
    </div>

    <div id="info-pics" class="bg-dark">
        <img id="personal_img" class="shadow-dark item" src="../assets/images/profileimg.jpeg"></img>
        <img id="socials_img" class="shadow-dark item" src="../assets/images/socialsimg.jpeg"></img>
    </div>

    <div id="info-links-wide">
        {%- include links/info.html -%}
    </div>
    <div id="info-text">
        {{ content }}
    </div>
</div>