---
layout: default
---
<head>
  <link rel="stylesheet" href="{{ "/assets/games.css" | relative_url }}">
</head>

<div id="content" class="bg-light">
  <span id="page-name" class="font50px text-dark bg-medium shadow-dark dejavu_sansextralight">{{ page.title | escape }}</span>
  <span id="link-panel" style="margin-left: 545px" class="font50px text-dark bg-medium shadow-dark-left dejavu_sansextralight">{% include sociallinks.html %}</span>
  {{ content }}
</div>

<div id="content2" class="bg-light">
  <span id="page-name" class="font50px text-dark bg-medium shadow-dark dejavu_sansextralight">{{ "jams" | escape }}</span>
  {%- include  gameslist.html -%}
</div>