---
layout: default
---
<head>
  <link rel="stylesheet" href="{{ "/assets/reels.css" | relative_url }}">
</head>

<div id="content" class="bg-light">
  <span id="page-name" class="font40px text-dark bg-medium shadow-dark dejavu_sansextralight">{{ recent | escape }}</span>
  <span id="link-panel" style="margin-left: 545px" class="font40px text-dark bg-medium shadow-dark-left dejavu_sansextralight">{% include social.html %}</span>
  {{ content }}
</div>

<div id="content2" class="bg-light">
  <span id="page-name" class="font40px text-dark bg-medium shadow-dark dejavu_sansextralight">{{ "old" | escape }}</span>
  {%- include  reelslist.html -%}
</div>